<div class="row">
    <div class="col-sm-8">
        <mat-card>
            <img class="fullImage" [src]="image">
        </mat-card>
    </div>
    <div class="col-sm-4">
        <table style="width:100%">
            <tr>
                <th>Nazwa pliku:</th>
                <td>{{imageId}}</td>
            </tr>
            <tr>
                <th>Kategoria:</th>
                <td>{{dataImage?.category}}</td>
            </tr>
            <tr>
                <th>Tagi:</th>
                <td>{{tagsString}}</td>
            </tr>
            <tr>
                <th>Rozmiar pliku:</th>
                <td>{{dataImage?.size}}</td>
            </tr>
            <tr>
                <th>Wymiary pliku:</th>
                <td>{{dataImage?.width}}:{{dataImage?.height}}</td>
            </tr>
            <tr>
                <th>Autor:</th>
                <td>{{dataImage?.user}}</td>
            </tr>

        </table>
    </div>
</div>