<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Inteligentne Usługi Informacyjne - projekt</span>
    <span class="example-spacer-before-navigate-button"></span>
    <div class="button-row">
      <button mat-raised-button color="warn" class="buttonInHeader" routerLink="/home">Strona główna</button>
      <button mat-raised-button color="warn" class="buttonInHeader" *ngIf=isLoggedIn() routerLink="/myPhoto">Moje zdjęcia</button>
      <button mat-raised-button color="warn" class="buttonInHeader" *ngIf=isLoggedIn() routerLink="/addPhoto">Dodaj zdjęcie</button>
      <button mat-raised-button color="warn" class="buttonInHeader" *ngIf=isLoggedIn() routerLink="/getPhoto"> Pokaż zdjęcia</button>
    </div>
    <span class="example-spacer"></span>
    <div class="userName" *ngIf=isLoggedIn()>{{getUserName()}}</div>
    <div class="button-row">
      <button mat-raised-button color="primary" class="buttonInHeader" *ngIf=!isLoggedIn() routerLink="/register">Rejestracja</button>
      <button mat-raised-button color="primary" class="buttonInHeader" *ngIf=!isLoggedIn() routerLink="/login">Logowanie</button>
      <button mat-raised-button color="primary" class="buttonInHeader" *ngIf=isLoggedIn() (click)="logout()">Wyloguj się</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>