.example-full-width {
    width: 100% !important;
  }

  .example-card {
    margin-left: 10px;
    width: 300px;
    margin-right: 10px;
    float: left;
    margin-top: 5px;
    padding-bottom: 0px !important;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
 
.miniImage{
  max-height: 300px !important;
}
.row{
  margin-right: 0px !important;
}