<mat-card class="example-card">
    <h2>Dodawanie nowego zdjecia</h2>

    <div class="row">
        <div class="col-sm-4">
            <label class="btn btn-default">
                Wybierz
                <input #fileInput type="file">
            </label>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input matInput name="category" [(ngModel)]="category" placeholder="Wpisz kategorie">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input matInput name="tag" [(ngModel)]="newTag" placeholder="Wpisz tag ">
                </mat-form-field>
                <button  mat-raised-button color="primary" (click)="addTagToTagsList()">Dodaj tag</button>
            </form>
            <button  mat-raised-button color="primary" (click)="sendImage()">Dodaj nowe zdjęcie</button>
        </div>
        <div class="col-sm-8">
            <mat-list role="list">
                    <h3 mat-subheader>Dodane tagi</h3>
                <mat-list-item role="listitem" *ngFor="let tag of tags" >{{tag}}</mat-list-item>
            </mat-list>
        </div>
    </div>


</mat-card>
<br>
<mat-card class="example-card2">
    <img class="example-image" [src]="fullImagePath">
</mat-card>