<mat-card class="example-card">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rejestracja</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <p>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Login">
              </mat-form-field>
              <br>
              <mat-form-field class="example-full-width">
                  <input matInput type="password" placeholder="Password">
              </mat-form-field>
          </form>
          <button mat-raised-button color="primary" (click)="registerUser()">Rejestracja</button>
  </mat-card-content>
</mat-card>
