<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title>Rejestracja</mat-card-title>
  </mat-card-header>
  <mat-card-content>
                <form class="example-form">
              <mat-form-field class="example-full-width">
                  <input matInput  [(ngModel)]="userName" name="userName" placeholder="Login">
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput placeholder="Enter your password" [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>   <div *ngIf="validMessage">{{validMessage}}</div>
          </form>
          <button mat-raised-button color="primary" (click)="registerUser()">Zarejestruj się</button>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card2">
    <img class="example-image"[src]="fullImagePath" >
</mat-card>
